@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}

img.basketball {
  content: url("/public/graphicmobile.svg");
  @apply absolute top-[80px] w-[302px] h-[251px] left-[calc(50%-302px/2)];
}
img.football {
  content: url("/public/graphicmobile1.svg");
  @apply absolute top-[70px] w-[219px] h-[281px] left-[calc(50%-219px/2)];
}

@media (min-width: 768px) {
  img.basketball {
  content: url("/public/graphictablet.svg");
    @apply absolute top-[0px] left-[205px] w-[691px] h-[568px];
  }
  img.football {
  content: url("/public/graphictablet1.svg");
    @apply absolute top-[20px] left-[85px] w-[498px] h-[719px];
  }
}

@media (min-width: 1024px) {
  img.basketball {
  content: url("/public/graphicdesktop.svg");
    @apply absolute h-[81.66%] w-[51.61%] top-[0%] right-[6.51%] bottom-[18.34%] left-[41.88%] max-w-full overflow-hidden max-h-full;
  }
  img.football {
  content: url("/public/graphicdesktop1.svg");
    @apply absolute h-[100%] w-[51.61%] top-[0%] right-[0%] bottom-[0%] left-[0%] max-w-full overflow-hidden max-h-full
  }
}