@media (min-width: 768px) {
  .stripe {
    width: 22px;
    height: 5px;
  }

  img.basketball {
    content: url("/public/graphictablet.svg");
    @apply absolute top-[0px] left-[26.7%] w-[691px] h-[568px];
  }

  img.football {
    content: url("/public/graphictablet1.svg");
    @apply absolute top-[20px] left-[-76px] w-[498px] h-[719px];
  }

  .athlets-section-main {
    @apply relative top-[81px] left-[0px] w-full h-[739px];
  }

  .athlets-section-title {
    @apply absolute top-[0px] left-[38%] text-71xl;
  }

  .athlets-section1-content {
    @apply block;
    @apply absolute top-[147px] left-[38%] w-[58.1%] h-[119px];

    .paragraph {
      @apply absolute top-[63px] left-[0px] leading-[28px] inline-block;
    }

    .header {
      @apply absolute top-[0px] left-[32px] text-17xl tracking-[1.5px] text-silver;
    }

    .stripe {
      @apply absolute top-[30px] left-[1px] rounded-10xs-5 bg-slateblue-100 ;
    }

    .number {
      @apply absolute text-lg top-[5px] left-[0px] tracking-[1.5px];
    }
  }

  .athlets-section2-bg {
    @apply block;
    @apply absolute top-[296px] bg-ghostwhite w-full h-[235px];
  }

  .athlets-section2-content {
    @apply block;
    @apply absolute top-[326px] left-[38%] w-[58.1%] h-[175px];

    .paragraph {
      @apply absolute top-[63px] left-[0px] leading-[28px] inline-block;
    }

    .header {
      @apply absolute top-[0px] left-[32px] text-17xl tracking-[1.5px] text-silver;
    }

    .stripe {
      @apply absolute top-[30px] left-[1px] rounded-10xs-5 bg-slateblue-100 ;
    }

    .number {
      @apply absolute text-lg top-[5px] left-[0px] tracking-[1.5px];
    }
  }

  .athlets-section3-bg {
    @apply block;
    @apply absolute top-[531px] bg-slateblue-200 w-full h-[207px];
  }

  .athlets-section3-content {
    @apply block;
    @apply absolute top-[561px] left-[38%] w-[58.1%] h-[119px] text-white;

    .paragraph {
      @apply absolute top-[63px] left-[0px] leading-[28px] inline-block;
    }

    .header {
      @apply absolute top-[0px] left-[32px] text-17xl tracking-[1.5px] text-silver;
    }

    .stripe {
      @apply absolute top-[31px] left-[1px] rounded-10xs-5 bg-white ;
    }

    .number {
      @apply absolute text-lg top-[6px] left-[0px] tracking-[1.5px] text-black;
    }
  }

  .player-section-main {
    @apply relative top-[113px] left-[0px] w-full h-[757px];
  }

  .player-section-title {
    @apply absolute top-[19px] left-[4.2%] text-71xl;
  }

  .player-section1-content {
    @apply block;
    @apply absolute top-[158px] left-[4.2%] w-[56.25%] h-[147px];

    .paragraph {
      @apply absolute top-[63px] left-[0px] leading-[28px] inline-block;
    }

    .header {
      @apply absolute top-[0px] left-[32px] text-17xl tracking-[1.5px] text-silver;
    }

    .stripe {
      @apply absolute top-[30px] left-[1px] rounded-10xs-5 bg-slateblue-100 ;
    }

    .number {
      @apply absolute text-lg top-[5px] left-[0px] tracking-[1.5px];
    }
  }

  .player-section2-bg {
    @apply block;
    @apply bg-ghostwhite;
    @apply absolute top-[315px] left-[0px] bg-ghostwhite w-full h-[235px];
  }

  .player-section2-content {
    @apply block;
    @apply absolute top-[366px] left-[4.2%] w-[56.25%] h-[119px];

    .paragraph {
      @apply absolute top-[63px] left-[0px] leading-[28px] inline-block;
    }

    .header {
      @apply absolute top-[0px] left-[32px] text-17xl tracking-[1.5px] text-silver;
    }

    .stripe {
      @apply absolute top-[30px] left-[1px] rounded-10xs-5 bg-slateblue-100 ;
    }

    .number {
      @apply absolute text-lg top-[5px] left-[0px] tracking-[1.5px];
    }
  }

  .player-section3-bg {
    @apply block;
    @apply absolute top-[550px] left-[0px] bg-gray w-full h-[207px];
  }

  .player-section3-content {
    @apply block;
    @apply absolute top-[594px] left-[4.2%] w-[56.25%] h-[91px] text-white;

    .paragraph {
      @apply absolute top-[63px] left-[0px] leading-[28px] inline-block;
    }

    .header {
      @apply absolute top-[0px] left-[32px] text-17xl tracking-[1.5px] text-silver;
    }

    .stripe {
      @apply absolute top-[31px] left-[1px] rounded-10xs-5 bg-white ;
    }

    .number {
      @apply absolute text-lg top-[6px] left-[0px] tracking-[1.5px] text-slateblue-100;
    }
  }
}